/* 
 * 字体加载策略
 */

/* Swis721 BlkCn BT 字体 (40KB) */
@font-face {
  font-family: 'Swis721 BlkCn BT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Swis721-BlkCn-BT-Black.ttf') format('truetype');
}

/* PangMenZhengDao 字体 (980KB) */
@font-face {
  font-family: 'PangMenZhengDao';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/PangMenZhengDao.ttf') format('truetype');
}